---
layout: layouts/base.njk
lang: en
pageKey: services
---

<!-- Start services section -->
<section id="services" class="services-section">
  <div class="eyebrow">Nos services</div>
  <h2>Adaptés à vous, conçus pour vous.</h2>
  <div id="services-cards" class="services-cards">
    <div id="first-service" class="service-card">
      <!-- <div class="icon first_service_icon"></div> -->
      <p class="service-card__title">Location de monte-meubles.</p>
      <p class="service-card__desc">
        La solution efficace pour charges lourdes.
      </p>
      <!-- <div class="info-plus">
              <div class="img-service service-1"></div>
              <ul class="mover-list icon--box">
                <li>Elevadores montados en remolques</li>
                <li>
                  Elevadores eléctricos desmontables GEDA para zonas de difícil
                  acceso (terrazas de jardín, etc.).
                </li>
              </ul>
            </div> -->
    </div>
    <div id="second-service" class="service-card">
      <!-- <div class="icon second_service_icon"></div> -->
      <p class="service-card__title">Camions équipés + chauffeur</p>
      <p class="service-card__desc">Pour un transport sûr et pratique.</p>
      <!-- <div class="info-plus">
              <ul class="mover-list icon--box">
                <li>Votre déménagement</li>
                <li>
                  Transport ou livraison des meubles, colis, électroménagères et
                  de vos achats
                </li>
                <li>
                  Un service professionnel pour les particuliers et les
                  entreprises
                </li>
              </ul>
              <div class="img-service service-1"></div>
            </div> -->
    </div>
    <div id="third-service" class="service-card">
      <!-- <div class="icon third_service_icon"></div> -->
      <p class="service-card__title">Déménagement sur mesure.</p>
      <p class="service-card__desc">Conçu pour s’adapter à votre situation.</p>
      <!-- <div class="info-plus">
              <div class="img-service service-1"></div>
              <ul class="mover-list icon--box">
                <li>Carga, transporte y descarga.</li>
                <li>Desmontaje y montaje de muebles.</li>
                <li>Solicitud de permiso de estacionamiento.</li>
              </ul>
            </div> -->
    </div>
    <div class="service-card">
      <p class="service-card__title">Fournitures de déménagement</p>
      <p class="service-card__desc">
        Boîtes, sangles et protections à domicile.
      </p>
      <!-- <div class="icon fourth_service_icon"></div> -->
    </div>
  </div>
</section>
<!-- End services section -->
