.company-section {
  margin-top: 7rem;
}
.cta-btn .arrow {
  height: 18px;
  width: 18px;
  color: var(--bg-body);
}

.company-section h2 {
  margin-bottom: 1rem;
}

.company-section > p {
  max-width: 80%;
  hyphens: auto;
  text-align: justify;
}

.company-img {
  width: 80%;
  margin: 0 auto;
  aspect-ratio: 4 / 3;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
