/*
====================================================== 
Styles of hero section
====================================================== 
*/

.hero-section {
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 4rem;
  min-height: 100svh;
}

/* Copy */
.hero-section .copy {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-sm) 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 98px;
  /* border: 1px solid green; */
}

.hero-section .copy .heading {
  text-align: center;
  /* font-size: clamp(1rem, 0.9rem + 0.8vw, 1.4rem); */
  font-size: clamp(2rem, 0.8rem + 2vw, 4rem);
  /* font-size: clamp(1.8rem, 5cqw, 4rem); */
  font-style: italic;
  font-family: "Cormorant Garamond", Times, serif;
  font-weight: 600;
  line-height: 1;
  /* letter-spacing: 0.02em; */
  width: 100%;
  text-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  margin: 0; /*re-write h1*/
}

.heading .highlight {
  font-size: clamp(4rem, 3.4rem + 4vw, 5rem);
}

.heading .comma {
  opacity: 0.6;
}

.copy .sub-heading {
  font-size: 1em;
  text-align: left;
  font-family: "Cormorant Garamond", Times, serif;
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-style: italic;
  margin: 0; /*re-write h2*/
  margin-top: 0.5rem;
}

.cta-heading {
  margin-top: 3rem;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  justify-content: end;
}

.hero-bottom {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  width: calc(100% - 48px);
}

.hero-bottom p {
  font-family: "Cormorant Garamond", Times, serif;
  font-style: italic;
  opacity: 0.5;
  margin-bottom: 1rem;
  letter-spacing: 0.02em;
  font-size: clamp(0.85rem, 0.8rem + 0.4vw, 1rem);
}

.nav_spacer {
  background-color: var(--primary-color);
  opacity: 0.2;
  width: 1px;
  align-self: center;
  height: 1.2rem;
  color: var(--primary-color);
}

.language {
  display: none;
  gap: 0.4rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.language p {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.down {
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-networks {
  display: none;
}

.hero-bg {
  width: 76%;
  max-width: 450px;
  object-fit: cover;
  object-position: center;
  height: 40svh;
  /* aspect-ratio: 21 / 8.4; */
  aspect-ratio: 16 / 9;
  /* border: 1px solid black; */
}

.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #f5f3e5;
  mix-blend-mode: color;
}

.t1 {
  opacity: 1;
}

.reveal-grid,
.reveal-time {
  position: absolute;
  opacity: 0;
  top: 50%;
  margin: 0 var(--padding-sm) 0;
  text-align: center;
}

.grid {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100svh - 180px);
  top: 50%;
  transform: translateY(-46%);

  align-items: center; /* Optional: vertically center items */
  gap: 1rem; /* Optional: space between items */

  /* Fixed dimensions */
  max-width: 100%; /* Responsive */
}

.item {
  opacity: 0;
  flex: 1; /* All items grow equally */
  height: 100%; /* Fill container height */
  overflow: hidden; /* Hide overflow if image is too large */
}

.item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover; /* Scale image to cover area while maintaining aspect ratio */
  object-position: center; /* Center the image */
}

.item.last-item img {
  object-position: 50% 30%;
}

/*
====================================================== 
Styles of testimonials section
====================================================== 
*/

.testimonials-section {
  height: auto;
  overflow-x: hidden;
}

.t-track {
  display: grid;
  grid-auto-flow: column;
  gap: clamp(16px, 2.4vw, 32px);
  will-change: transform;
  margin-top: 42px;
  /* ancho dinámico por JS */
}

/* Card testimonial (estética vcdesign) */
.t-card {
  width: 340px; /* clamp(260px, 44vw, 80vw);*/
  border-left: 0.2px double #333333;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  padding: clamp(18px, 2.2vw, 28px);
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 18px;
}

.t-card__brand {
  color: var(--muted);
  font-size: 14px;
  font-weight: 600;
}

.t-card__quote {
  font-size: var(--fs-p-base);
  letter-spacing: -0.01em;
  margin: 0;
}

.t-card__quote:before {
  content: "“";
  font-size: 1.4em;
  line-height: 0;
  margin-right: 0.04em;
}

.t-card__person {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--muted);
  font-size: 14px;
}

.t-card__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 2px #fff;
}

/* End of styles of testimonials */

/*
====================================================== 
Styles of services section
====================================================== 
*/

.services-section .services-cards {
  margin-top: 32px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  gap: 24px;
}

.services-cards .service-card:not(:first-child) {
  position: relative;
  width: 100%;
  padding: 3.5rem 0;
  border-top: 0.5px solid var(--primary-color);
}

.services-cards .service-card:first-child {
  padding: 0 0 3.5rem;
  margin-top: 1.2rem;
  border-top: none;
}

.service-card .service-card__title {
  text-align: left;
  width: 100%;
  color: var(--primary-color);
  font-size: var(--fs-p-md);
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.service-card .service-card__desc {
  position: relative;
  font-size: var(--fs-p-base);
  text-align: left;
  max-width: 80%;
  color: var(--color-heading);
  font-size: var(--fs-p-base);
  font-weight: 200;
  margin-bottom: 1rem;
}

.services-cards .service-card:last-child {
  padding-bottom: 0;
}

/* End of styles of services section */

/*
====================================================== 
Styles of contact section
====================================================== 
*/

.contact-section {
  margin-bottom: 4rem;
  padding-top: 4rem;
}

.contact-information {
  margin-top: 48px;
  display: grid;
  row-gap: 38px;
  grid-template-columns: 1fr;
  margin-bottom: 72px;
  place-content: center;
}

.contact-information > div {
  display: flex;
  gap: 16px;
}

.contact-information > div img {
  width: 20px;
  object-fit: contain;
}

.contact-information .detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  color: var(--primary-color);
}

.contact-information .detail p:first-child {
  font-weight: 600;
  color: var(--primary-color);
}

.contact-information .detail p:last-child {
  font-weight: 200;
}

.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
}

.social-networks > p {
  font-weight: bold;
  font-size: var(--fs-p-base);
}

.social-networks > div {
  display: flex;
  gap: 8px;
}

.social-networks img {
  width: 26px;
  height: 26px;
  object-fit: contain;
  margin-right: 8px;
}

/* End of styles of Contact*/

/*
====================================================== 
Media Queries
====================================================== 
*/

/*
@media screen and (min-width: 576px) {
  .galery {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}
*/

@media screen and (min-width: 768px) {
  /*
  ====================================================== 
  Styles of hero section
  ====================================================== 
  */

  .hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    /* border: 1px solid red; */
    /* justify-content: flex-end; */
    gap: 3rem;
    padding-bottom: 5rem;
  }

  .hero-section .copy {
    width: 100%;
  }

  .hero-section .copy .heading {
    height: auto;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: clamp(3rem, 3.8rem + 4vw, 4rem);
  }

  .heading .highlight {
    font-size: 6rem;
  }

  .hero-section .copy .sub-heading {
    margin-top: 0;
    font-size: 2.2em;
    text-align: center;
    height: auto;
    font-family: "Cormorant Garamond", Times, serif;
    width: 100%;
    font-weight: 600;
    font-style: italic;
  }

  .cta-heading {
    display: none;
  }

  .hero-bg {
    width: 100%;
    max-width: 420px;
    object-fit: cover;
    object-position: center;
    height: 38vh;
    /* border: 1px solid red; */
    /* aspect-ratio: 21 / 8.4; */
    aspect-ratio: 4 / 3;
    /* filter: blur(0.4px); */
  }

  /* End styles of hero section*/

  /*
  ====================================================== 
  Styles of service section
  ====================================================== 
  */
  .services-section .services-cards {
    margin-top: 48px;
  }

  .services-section .services-cards {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  .services-cards .service-card {
    width: 100%;
    cursor: pointer;
  }

  .service-card .icon {
    grid-area: icon;
    display: block;
    align-self: center;
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    position: absolute;
    top: -60px;
    right: 0;
  }

  .service-card .first_service_icon {
    background-image: url("../images/icons/lifting.svg");
    background-size: 60px;
  }

  .service-card .second_service_icon {
    background-image: url("../images/icons/truck.svg");
    background-size: 80px;
  }

  .service-card .third_service_icon {
    background-image: url("../images/icons/packt.svg");
    background-size: 50px;
  }

  .service-card .fourth_service_icon {
    background-image: url("../images/icons/chair.svg");
    background-size: 50px;
  }

  .service-card .service-card__desc {
    width: 80%;
  }
  /* End of styles of services section*/

  /* Styles of company section */
  .company-section > p {
    text-align: left;
    line-height: 1.25;
    /* color: #264653; */
    color: #5a6066;
  }
  /* End of styles of company section*/

  /* Styles of contact section */

  .contact-section > h2 {
    display: flex;
    justify-content: left;
    grid-area: title;
  }

  .contact-section > p {
    max-width: 40%;
  }

  .social-networks {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .social-networks img {
    width: 30px;
    height: 30px;
  }

  /* End of styles of contact section*/
}

@media screen and (min-width: 992px) {
  .grid {
    flex-direction: row;
  }
  /* Styles of service section */
  .services-section .services-cards {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }

  .service-card {
    width: 70%;
  }

  .service-card .first_service_icon {
    background-image: url("../images/icons/lifting.svg");
    background-size: 90px;
  }

  .service-card .second_service_icon {
    background-image: url("../images/icons/truck.svg");
    background-size: 140px;
  }

  .service-card .third_service_icon {
    background-image: url("../images/icons/packt.svg");
    background-size: 90px;
  }

  .service-card .fourth_service_icon {
    background-image: url("../images/icons/chair.svg");
    background-size: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .scroll {
    width: calc(100% - 96px);
  }

  .hero-section h1 {
    margin-bottom: 30px; /* Espacio abajo */
  }

  .galery-section > h2,
  .company-section > h2 {
    max-width: 84%;
    margin: 0 0 14px;
  }

  .galery-section > h2 {
    margin-bottom: 64px;
  }

  .company-section > p {
    max-width: 60%;
    hyphens: auto;
    text-align: justify;
    font-size: var(--fs-p-lg);
  }

  .galery {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .galery .first-img {
    background-image: url("../images/left-one.webp");
  }

  .galery .second-img {
    background-image: url("../images/left-two.webp");
  }

  .galery .third-img {
    background-image: url("../images/top-one.webp");
  }

  .galery .fourth-img {
    background-image: url("../images/center.webp");
  }

  .galery .fifth-img {
    background-image: url("../images/top-two.webp");
  }

  .galery .sixth-img {
    background-image: url("../images/buttom-one.webp");
  }

  .galery .seventh-img {
    background-image: url("../images/buttom-two.webp");
  }
}
