.galery-section {
  margin-top: 7rem;
}

/*
====================================================== 
Galery of hero section
====================================================== 
*/

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
  grid-auto-rows: var(--row, 160px);
  grid-auto-flow: dense;
  margin-top: var(--margin-sm);
  margin-bottom: 62px;
}

/* Tarjeta base: NADA de aspect-ratio */
.item {
  display: grid; /* clave */
  grid-column: span 1;
  grid-row: span 1;
  overflow: hidden;
  background: #ccc;
}

/* Tamaños */
.item.wide {
  grid-column: span 2;
  grid-row: span 1;
}

.item.tall {
  grid-column: span 1;
  grid-row: span 2;
}

.item.big {
  grid-column: span 2;
  grid-row: span 2;
} /* si la usas */

/* Media ocupa toda la celda (¡solo este bloque!) */
.item > img,
.item > video {
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  max-width: none;
  max-height: none;
  object-position: center;
  transform: translateZ(0);
}

/* End styles of galery section*/

@media screen and (min-width: 576px) {
  .galery {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}

@media screen and (min-width: 768px) {
  /* Galery section */

  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    --row: 190px;
  }

  /* End of styles of contact section*/
}

@media screen and (min-width: 1200px) {
  .galery-section > h2,
  .company-section > h2 {
    max-width: 84%;
    margin: 0 0 14px;
  }

  .galery-section > h2 {
    margin-bottom: 64px;
  }

  .galery {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .galery .first-img {
    background-image: url("../images/left-one.webp");
  }

  .galery .second-img {
    background-image: url("../images/left-two.webp");
  }

  .galery .third-img {
    background-image: url("../images/top-one.webp");
  }

  .galery .fourth-img {
    background-image: url("../images/center.webp");
  }

  .galery .fifth-img {
    background-image: url("../images/top-two.webp");
  }

  .galery .sixth-img {
    background-image: url("../images/buttom-one.webp");
  }

  .galery .seventh-img {
    background-image: url("../images/buttom-two.webp");
  }
}
