.services-section {
  margin-top: 7rem;
}

.services-section .services-cards {
  margin-top: 32px;
  width: 100%;
  max-width: 100%;
  gap: 24px;
}

.services-cards .service-card:not(:first-child) {
  width: 100%;
  padding: 3.5rem 0;
  border-top: 0.5px solid var(--primary-color);
}

.services-cards .service-card:first-child {
  padding: 3.5rem 0 3.5rem;
  margin-top: 1.2rem;
  border-top: 0.5px solid var(--primary-color);
}

.service-card .service-card__imgs {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
  height: 40svh;
  aspect-ratio: 1 / 2;
  object-fit: contain;
  object-position: cover;
  margin-bottom: 2rem;
}

.service-card .service-card__img {
  flex: 1;
  height: 40svh;
  aspect-ratio: 1 / 2;
  object-fit: cover;
  object-position: cover;
  margin-bottom: 2rem;
}

.service-card .service-card__title {
  text-align: left;
  width: 100%;
  color: var(--primary-color);
  font-size: var(--fs-p-md);
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.service-card .service-card__desc {
  position: relative;
  font-size: var(--fs-p-base);
  text-align: left;
  max-width: 80%;
  color: var(--color-heading);
  font-size: var(--fs-p-base);
  font-weight: 200;
  margin-bottom: 2rem;
}

.service-card .icon {
  position: absolute;
  display: block;
  width: 220px;
  height: 220px;
  /* border: 1px solid red; */
  background-repeat: no-repeat;
  background-position: center;
  top: -20px;
  right: 0.2vw;
  opacity: 0; /* clave para no “gritar” */
  z-index: 0;
}

.service-card .first_service_icon {
  background-image: url("../images/icons/lifting.svg");
  background-size: 200px;
}

.info-plus {
  display: flex;
  gap: 28px;
}

.service-card ul {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: var(--fs-p-base);
  text-align: left;
  width: 100%;
  color: var(--primary-color);
  font-size: var(--fs-p-base);
  font-weight: 200;
}

@media screen and (min-width: 992px) {
  .services-section .services-cards {
    margin-top: 3rem;
  }

  .services-cards .service-card {
    width: 100%;
    padding: 3.5rem 0;
    border-top: 0.5px solid var(--primary-color);
  }

  .service-card .service-card__imgs {
    height: 54svh;
  }
  .service-card .service-card__img {
    flex: 1;
    height: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
  }

  .services-cards .service-card:first-child .service-card__img:first-child {
    flex: 2;
    object-fit: cover;
    object-position: center;
  }
}
