/*
====================================================== 
Styles of footer
====================================================== 
*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #2d3436;
}

footer p {
  color: #d3d3d3;
  font-size: var(--fs-p-sm);
}
