/*
====================================================== 
Styles of header
====================================================== 
*/
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 48px var(--padding-sm);
  z-index: 2;
  height: 120px;
  /* backdrop-filter: blur(4px); */
}

header .logo {
  font-size: var(--fs-p-sm);
  font-weight: 400;
  cursor: pointer;
  color: var(--color-heading);
}

header .logo .brand {
  color: var(--primary-color);
  font-weight: 700;
}

header .nav-bar,
header .cta-header {
  display: none;
}

#menu-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transform: translateX(5px);
}
/* End of styles of header */

/*
====================================================== 
Media queries 
====================================================== 
*/
@media screen and (min-width: 768px) {
  header .nav-bar,
  header .cta-header {
    display: flex;
  }

  header .nav-bar {
    display: flex;
    align-items: center;
  }

  header .nav-bar a {
    font-size: var(--fs-p-sm);
    margin-right: 1.4rem;
    font-weight: 300;

    /* text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); */
    backdrop-filter: blur(4px);
  }

  header .nav-bar .cta-header {
    margin-right: 0;
  }

  header .nav-bar.is-outside-image a {
    color: var(--primary-color);
    backdrop-filter: none;
  }

  .networks a:last-child,
  .nav-bar li:last-child a {
    margin-right: 0;
  }

  .menu-btn {
    display: none;
  }

  header .networks {
    display: flex;
    justify-content: space-between;
  }

  header .networks a {
    width: 20px;
  }

  header .networks img {
    width: 16px;
    height: 16px;
    filter: invert(1);
  }

  .nav_spacer {
    background-color: var(--primary-color);
    opacity: 0.2;
    width: 1px;
    margin: 0 1.4rem;
    align-self: center;
    height: 1.2rem;
    color: var(--primary-color);
  }

  header .networks a {
    margin-right: 0.4rem;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-left: 48px;
    padding-right: 48px;
  }
}
