/*
====================================================== 
Styles of header
====================================================== 
*/
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 48px 24px;
  z-index: 2;
  height: 120px;
  /* backdrop-filter: blur(4px); */
}

header .logo {
  font-size: var(--fs-p-sm);
  font-weight: 400;
  cursor: pointer;
  color: var(--color-heading);
}

header .logo .brand {
  color: var(--primary-color);
  font-weight: 700;
}

header .nav-bar,
header .cta-header {
  display: none;
}

#menu-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transform: translateX(5px);
}
/* End of styles of header */

/*
====================================================== 
Media queries 
====================================================== 
*/
@media screen and (min-width: 768px) {
  header {
    width: calc(100% - 164px);
    transform: translateX(82px);
    padding-left: 0;
    padding-right: 0;
  }

  header .nav-bar,
  header .cta-header {
    display: flex;
  }

  header .nav-bar {
    display: flex;
    align-items: center;
  }

  header .nav-bar a {
    font-size: var(--fs-p-sm);
    margin-right: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    /* text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); */
    backdrop-filter: blur(4px);
  }

  header .nav-bar.is-outside-image a {
    color: var(--primary-color);
    backdrop-filter: none;
  }

  .nav-bar li:last-child a {
    margin-right: 0;
  }

  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  /* header {
    padding-left: 48px;
    padding-right: 48px;
  } */
}
