.menu-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--padding-sm);
  padding-top: 4rem;
  font-size: var(--fs-p-base);
  font-weight: 200;
  position: fixed;
  background-color: var(--bg-body);
  z-index: 1;
  inset: 0;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts {
  font-size: var(--fs-p-sm);

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.social-net-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.opt-lang {
  display: flex;
  text-transform: uppercase;
  gap: 8px;
  font-weight: 400;
}

.opt-lang a {
  border-radius: 5px;
  font-size: var(--fs-p-sm);
  padding: 6px;
  border: 1px solid var(--primary-color);
}

.menu-section a {
  cursor: pointer;
}

.menu-link {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .menu-section {
    display: none;
  }
}
