---
layout: layouts/base.njk
lang: fr
pageKey: company
stylesheet: company.css
---

{% set t = i18n[lang] %}

<section id="company" class="company-section">
  <div class="eyebrow reveal-type">{{ t.section.company.label }}</div>
  <h2 class="reveal-type">{{ t.section.company.heading }}</h2>

  <p class="reveal-type">{{ t.section.company.goalone }}</p>
  <br />
  <p class="reveal-type">{{ t.section.company.goaltwo }}</p>
  <br />
  <img
    src="/assets/images/company-2.jpeg"
    alt="company image"
    class="company-img"
  />
</section>
