---
layout: layouts/base.njk
lang: fr
pageKey: home
---

{% set t = i18n[lang] %}

<!-- Start Hero section -->
<section id="hero" class="hero-section">
  <div class="networks">
    <div class="language">
      <a href="#">FR</a>
      <a class="opt-lang" href="/es">ES</a>
      <a class="opt-lang" href="/en">EN</a>
    </div>
    <svg class="vertical-line" viewBox="0 0 1 100" preserveAspectRatio="none">
      <line
        x1="0.5"
        y1="0"
        x2="0.5"
        y2="100"
        stroke="currentColor"
        stroke-width="1"
      />
    </svg>
    <div class="social">
      <a
        href="https://www.tiktok.com/@nunezassocies"
        rel="noopener noreferrer"
        target="_blank"
        >Tik Tok</a
      >
      <a href="https://wa.link/c4viwy" rel="noopener noreferrer" target="_blank"
        >Whatsapp</a
      >
      <a
        href="https://www.instagram.com/nunezassocies/"
        rel="noopener noreferrer"
        target="_blank"
        >Instagram</a
      >
    </div>
  </div>

  <div class="hero-main">
    <div class="copy">
      <h1 class="heading">
        <span>Nous</span>
        <br />
        <span>élevons</span>
        <br />
        <span>vos</span>
        <br />
        <span> meubles</span>
        <span class="comma">,</span>
      </h1>
      <h2 class="sub-heading">{{ t.section.hero.highlight}}</h2>
    </div>
    <a class="cta-btn cta-hero">
      <p>{{ t.section.hero.cta}}</p>
      <svg
        class="arrow"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 17L17 7M17 7H8M17 7V16"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>

  <div class="container-hero-img"></div>
</section>
<!-- End of hero section -->

<!-- Start company section -->
<section id="company" class="company-section">
  <div class="eyebrow reveal-type">{{ t.section.company.label }}</div>
  <h2 class="reveal-type">{{ t.section.company.heading }}</h2>
  <p class="reveal-type">{{ t.section.company.goalone }}</p>
  <br />
  <p class="reveal-type">{{ t.section.company.goaltwo }}</p>
  <a class="cta-btn cta-company reveal-type">
    <p>Savoir mais</p>
    <svg
      class="arrow"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M7 17L17 7M17 7H8M17 7V16"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </a>
</section>
<!-- End company section -->

<!-- Start galery section -->

<!-- 
<section class="galery-section">
  <div class="row row-top">
    <div class="card"><img src="assets/images/img-1.webp" alt="" /></div>
    <div class="card">
      <img src="assets/images/buttom-two-medium.webp" alt="" />
    </div>
    <div class="card"><img src="assets/images/img-13.webp" alt="" /></div>
    <div class="card"><img src="assets/images/img-13.webp" alt="" /></div>
  </div>

   <div class="center-text">
      <div class="eyebrow">Notre travail</div>
      <h2>Déménagement géré par des professionnels.</h2>
    </div> 

  <div class="row row-bottom">
    <div class="card"><img src="assets/images/img-12.jpg" alt="" /></div>
    <div class="card"><img src="assets/images/img-14.webp" alt="" /></div>
    <div class="card"><img src="assets/images/img-14.webp" alt="" /></div>
    <div class="card"><img src="assets/images/img-14.webp" alt="" /></div>
  </div>
</section>
-->

<!-- Start testimonial section -->
<section class="testimonials-section" id="testimonials">
  <div class="eyebrow">Témoignages</div>
  <h2>Votre satisfaction est notre mission</h2>
  <div class="testimonials__pin">
    <!-- Track horizontal (cards) -->
    <div class="t-track-wrap">
      <div class="t-track" id="tTrack">
        <!-- Card 1 -->
        <article class="t-card">
          <div class="t-card__brand">Barclays — Rise</div>
          <p class="t-card__quote">
            Entreprise très sérieuse. Personnel professionnel, attentif,
            ponctuel et courtois. Communication facile via WhatsApp et e-mail.
            Je recommande!
          </p>
          <div class="t-card__person">
            <img
              class="t-card__avatar"
              src="https://i.pravatar.cc/80?img=12"
              alt=""
            />
            <div>
              <strong>Moni Di Bratto</strong><br /><span
                >Utilisateur Google</span
              >
            </div>
          </div>
        </article>
        <!-- Card 2 -->
        <article class="t-card">
          <div class="t-card__brand">Argyle</div>
          <p class="t-card__quote">
            Ponctuel, organisé, efficace et, en prime, sympathique et souriant !
            Que demander de plus ? Professionnalisme, convivialité et
            efficacité. A recommander!
          </p>
          <div class="t-card__person">
            <img
              class="t-card__avatar"
              src="https://i.pravatar.cc/80?img=21"
              alt=""
            />
            <div>
              <strong>Giovanna Rollo</strong><br /><span
                >Utilisateur Pagesd'or</span
              >
            </div>
          </div>
        </article>
        <!-- Card 3 -->
        <article class="t-card">
          <div class="t-card__brand">Stellar Security</div>
          <p class="t-card__quote">
            Very responsive and professional. Treated my goods with good care
            and worked very quickly. They speak several languages. Absolutely
            recommend.
          </p>
          <div class="t-card__person">
            <img
              class="t-card__avatar"
              src="https://i.pravatar.cc/80?img=15"
              alt=""
            />
            <div>
              <strong>Luz Rey</strong><br /><span>Utilisateur Google</span>
            </div>
          </div>
        </article>
        <!-- Card 4 -->
        <article class="t-card">
          <div class="t-card__brand">Rollpark</div>
          <p class="t-card__quote">
            Very professional, they remind one about the appointment a day
            before, communication is excellent and fast. They also help during
            the move and are very friendly.
          </p>
          <div class="t-card__person">
            <img
              class="t-card__avatar"
              src="https://i.pravatar.cc/80?img=5"
              alt=""
            />
            <div>
              <strong>Roberto Gelsomino</strong><br /><span
                >Head of Growth</span
              >
            </div>
          </div>
        </article>
      </div>
    </div>

    <!-- Outro centrado (aparece cuando ya pasaron las cards) -->
    <!--           <div class="t-outro" id="tOutro">
            <div class="t-outro__box">
              <div class="t-outro__text">

                <h3>¿Listo para crear algo que hable por ti?</h3>
                <p>
                  Hablemos de tu próximo proyecto y cómo podemos impulsarlo.
                </p>
              </div>

              <a class="cta" href="#contacto">Book a spot →</a>
            </div>
          </div> -->
  </div>
</section>

<!-- End testimonials section-->
<!-- Start services section -->
<section id="services" class="services-section">
  <div class="eyebrow">Nos services</div>
  <h2>Adaptés à vous, conçus pour vous.</h2>
  <div id="services-cards" class="services-cards">
    <div id="first-service" class="service-card">
      <!-- <div class="icon first_service_icon"></div> -->
      <p class="service-card__title">Location de monte-meubles.</p>
      <p class="service-card__desc">
        La solution efficace pour charges lourdes.
      </p>
      <!-- <div class="info-plus">
              <div class="img-service service-1"></div>
              <ul class="mover-list icon--box">
                <li>Elevadores montados en remolques</li>
                <li>
                  Elevadores eléctricos desmontables GEDA para zonas de difícil
                  acceso (terrazas de jardín, etc.).
                </li>
              </ul>
            </div> -->
    </div>
    <div id="second-service" class="service-card">
      <!-- <div class="icon second_service_icon"></div> -->
      <p class="service-card__title">Camions équipés + chauffeur</p>
      <p class="service-card__desc">Pour un transport sûr et pratique.</p>
      <!-- <div class="info-plus">
              <ul class="mover-list icon--box">
                <li>Votre déménagement</li>
                <li>
                  Transport ou livraison des meubles, colis, électroménagères et
                  de vos achats
                </li>
                <li>
                  Un service professionnel pour les particuliers et les
                  entreprises
                </li>
              </ul>
              <div class="img-service service-1"></div>
            </div> -->
    </div>
    <div id="third-service" class="service-card">
      <!-- <div class="icon third_service_icon"></div> -->
      <p class="service-card__title">Déménagement sur mesure.</p>
      <p class="service-card__desc">Conçu pour s’adapter à votre situation.</p>
      <!-- <div class="info-plus">
              <div class="img-service service-1"></div>
              <ul class="mover-list icon--box">
                <li>Carga, transporte y descarga.</li>
                <li>Desmontaje y montaje de muebles.</li>
                <li>Solicitud de permiso de estacionamiento.</li>
              </ul>
            </div> -->
    </div>
    <div class="service-card">
      <p class="service-card__title">Fournitures de déménagement</p>
      <p class="service-card__desc">
        Boîtes, sangles et protections à domicile.
      </p>
      <!-- <div class="icon fourth_service_icon"></div> -->
    </div>
  </div>
</section>
<!-- End services section -->
<!-- Start contact section -->
<section id="contact" class="contact-section">
  <div class="eyebrow">Contact</div>
  <h2>Commencez votre déménagement.</h2>
  <div class="contact-information">
    <div>
      <img src="assets/images/icons/phone.svg" alt="icône du téléphone" />
      <a
        class="detail"
        href="https://wa.link/c4viwy"
        rel="noopener noreferrer"
        target="_blank"
      >
        <p>Téléphone</p>
        <p>(+32) 479482771</p>
      </a>
    </div>
    <div>
      <img src="assets/images/icons/mail.svg" alt="icône google" />
      <a class="detail" href="mailto:liftservice@gmail.com">
        <p>Email</p>
        <p>liftservicebel@gmail.com</p>
      </a>
    </div>
    <div>
      <img src="assets/images/icons/location.svg" alt="icône de localisation" />
      <a
        class="detail"
        href="https://rb.gy/q6apwy"
        rel="noopener noreferrer"
        target="_blank"
      >
        <p>Adresse</p>
        <p>Av. Wielemans Ceuppens 158-1190 Forest</p>
      </a>
    </div>
  </div>
  <div class="social-networks">
    <p>Suivez-nous sur</p>
    <div>
      <!--             <a
              href="https://www.facebook.com/lliftservicedemenagement"
              rel="noopener noreferrer"
              target="_blank"
              ><img src="./images/icons/facebook2.svg" alt="icône facebook"
            /></a> -->
      <a
        href="https://www.tiktok.com/@nunezassocies"
        rel="noopener noreferrer"
        target="_blank"
        ><img src="assets/images/icons/tiktok.svg" alt="icône tiktok"
      /></a>
      <a
        href="https://www.instagram.com/ivanliftservice/?utm_source=qr&igsh=bTQwaTBnYnBiZXY5"
        rel="noopener noreferrer"
        target="_blank"
        ><img src="assets/images/icons/instagram4.svg" alt="icône instagram"
      /></a>
    </div>
  </div>
  <!-- contact Form -->
  <!-- 
        <form
          action="https://formsubmit.co/liftservicebel@gmail.com"
          method="POST"
          class="contact-form"
        >
          <p>Envoyez nous un message</p>
          <label for="sender_name">Votre nom</label>
          <input
            type="text"
            name="sender_name"
            id="sender_name"
            aria-label="sender name"
            required
            autocomplete="off"
          />
          <label for="sender_email">Votre email</label>
          <input
            type="email"
            name="sender_email"
            id="sender_email"
            aria-label="sender email"
            required
            autocomplete="off"
          />
          <label for="message">Votre message</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            aria-label="message"
            required
          ></textarea>
          <button type="submit" class="submit-btn">Envoyer un message</button>
          <input
            type="hidden"
            name="_next"
            value="https://www.liftservicebel.com"
          />
          <input type="hidden" name="_captcha" value="false" />
        </form>
        -->
  <!-- End of contact Form -->
</section>
<!-- End contact section -->
