---
layout: layouts/base.njk
lang: fr
pageKey: our_work
---

<section class="galery-section">
  <div class="eyebrow">Notre travail</div>
  <h2>Déménagement géré par des professionnels.</h2>
  <div class="row row-top">
    <div class="card"><img src="../assets/images/img-1.webp" alt="" /></div>
    <div class="card">
      <img src="../assets/images/buttom-two-medium.webp" alt="" />
    </div>
    <div class="card"><img src="../assets/images/img-13.webp" alt="" /></div>
    <div class="card"><img src="../assets/images/img-13.webp" alt="" /></div>
  </div>

  <div class="row row-bottom">
    <div class="card"><img src="../assets/images/img-12.jpg" alt="" /></div>
    <div class="card"><img src="../assets/images/img-14.webp" alt="" /></div>
    <div class="card"><img src="../assets/images/img-14.webp" alt="" /></div>
    <div class="card"><img src="../assets/images/img-14.webp" alt="" /></div>
  </div>
</section>
