{% set currentLang = lang %} {% set currentPage = pageKey %}
<section id="menu-section" class="menu-section hidden">
  <ul class="menu-list">
    <li>
      <a class="menu-link" href="{{ t.routes.services }}"
        >{{ t.nav.services }}</a
      >
    </li>
    <li>
      <a class="menu-link" href="{{ t.routes.company }}">{{ t.nav.company }}</a>
    </li>
    <li>
      <a class="menu-link" href="{{ t.routes.our_work }}"
        >{{ t.nav.our_work }}</a
      >
    </li>
    <li>
      <a class="menu-link" href="{{ t.routes.faq }}">{{ t.nav.faq }}</a>
    </li>
  </ul>

  <div class="contacts">
    <ul class="social-net-links">
      <li>
        <a class="menu-link" href="https://www.instagram.com/nunezassocies/"
          >Instagram</a
        >
      </li>
      <li>
        <a class="menu-link" href="https://www.tiktok.com/@nunezassocies"
          >Tiktok</a
        >
      </li>
    </ul>
    <a class="menu-link" href="{{ link.contact }}">Contact</a>
  </div>

  <div class="opt-lang">
    {% if currentLang != "fr" %}
    <a
      class="menu-link"
      hreflang="fr-be"
      href="{{ i18n.fr.routes[currentPage] }}"
    >
      FR
    </a>
    {% endif %} {% if currentLang != "es" %}
    <a
      class="menu-link"
      hreflang="es-es"
      href="{{ i18n.es.routes[currentPage] }}"
    >
      ES
    </a>
    {% endif %} {% if currentLang != "en" %}
    <a
      class="menu-link"
      hreflang="en-gb"
      href="{{ i18n.en.routes[currentPage] }}"
    >
      EN
    </a>
    {% endif %}
  </div>
</section>
