<div class="networks">
  <div class="language">
    <a href="#">FR</a>
    <a class="opt-lang" href="/es">ES</a>
    <a class="opt-lang" href="/en">EN</a>
  </div>
  <svg class="vertical-line" viewBox="0 0 1 100" preserveAspectRatio="none">
    <line
      x1="0.5"
      y1="0"
      x2="0.5"
      y2="100"
      stroke="currentColor"
      stroke-width="1"
    />
  </svg>
  <div class="social">
    <a
      href="https://www.tiktok.com/@nunezassocies"
      rel="noopener noreferrer"
      target="_blank"
      >Tik Tok</a
    >
    <a href="https://wa.link/c4viwy" rel="noopener noreferrer" target="_blank"
      >Whatsapp</a
    >
    <a
      href="https://www.instagram.com/nunezassocies/"
      rel="noopener noreferrer"
      target="_blank"
      >Instagram</a
    >
  </div>
</div>
